.custom-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 5px;
    font-size: 22px;
    cursor: pointer;
    &:hover {
        opacity: 0.5;
    }
}
