.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

.modal h2 {
    margin-top: 0;
}

.modal p {
    margin: 20px 0;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
}

.close-icon {
    width: 20px;
    height: 20px;
}
